<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="rieltorskoe_agenstvoSystem.Properties.Settings.rieltorskoe_agenstvoConnectionString"
            connectionString="Data Source=DESKTOP-03BI4TO;Initial Catalog=rieltorskoe_agenstvo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>